page-tabs-controller {
    .tabbar{
        background:#E34243 !important; 
            a{
                color:white !important;
                ion-icon{
                    color:white !important;
                }
            }
        }
}
